<div class="login-page">
  <div class="login-box">
    <div class="text-center mb-4">
      <h2 class="mt-2">Welcome</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label [nzFor]="'email'" nzRequired [nzSpan]="6"
          >Email</nz-form-label
        >
        <nz-form-control [nzErrorTip]="'Valid email is required'" [nzSpan]="18">
          <input
            nz-input
            formControlName="email"
            id="email"
            placeholder="Enter your Email"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzFor]="'password'" nzRequired [nzSpan]="6"
          >Password</nz-form-label
        >
        <nz-form-control [nzErrorTip]="'Password is required'" [nzSpan]="18">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input
              nz-input
              [type]="passwordVisible ? 'text' : 'password'"
              formControlName="password"
              id="password"
              placeholder="Enter Password"
            />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i
              nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="togglePasswordVisibility()"
              class="cursor-pointer"
            ></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <div class="text-center">
        <button
          nz-button
          nzType="primary"
          class="w-50 mt-3"
          [disabled]="loginForm.invalid"
        >
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
